:root {
    --primary-text-color:#757575;
    --primary-white-color: #FFFFFF;
    --title-text-color: #212121;
    --primary-bg-color: #E5E5E5;
    --accent-color: #2196F3;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --backlights: rgb(62, 0, 128);
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.list{
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* header */

.header-container {
    display: flex;
    align-items: center;

    background: var(--primary-white-color);
}

.header-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
}
.accent {
    display: flex;
    margin-right: 93px;
    color: var(--title-text-color);
}

/* site-nav */
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav-header {
    display: inline-block;
}
.site-nav-item:not(:last-child) {
    margin-right: 50px;

}

.site-nav-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
}
.site-nav .link-current {
    color: var(--accent-color);

    text-decoration: none;
}
.site-nav .link-current:hover,
.site-nav .link-current:focus {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--title-text-color);

    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

/* contact */
.contact-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: auto;

}

.contact-list .phone {
    margin-right: auto;
    
}
.contact-list-item:not(:last-child) {
    margin-right: 50px;
    padding: 0;
}
.contact-list-item {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.contact-list-item .mail,
.contact-list-item .phone {
    color: var(--primary-text-color);

    text-decoration: none;
}
.mail:hover,
.mail:focus {
    color: var(--accent-color);
}
.phone:hover,
.phone:focus {
    color: var(--accent-color);
}

.contact-icon {
    fill: currentColor;
}
.contact-icon {
    padding: 0;
    margin-right: 10px;
}
.mail {
    display: flex;
    align-items: center;
    }
.phone {
    display: flex;
    align-items: center;

}

/* hero */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1600px;
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: linear-gradient (to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4))
}
.hero-title {
    align-content: center;
    margin: 0;
    
    margin-bottom: 30px;

    color: var(--primary-white-color);

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}


/* button */

.hero-button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    border: 0ch;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--primary-bg-color);

    font-family: inherit; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
}


/* section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* features */
.features-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}
.features-list-item {
    padding: 0;
    width: 270px;
}
.features-list-item:not(:last-child) {
    margin-right: 30px;;
}

.features-icon-list {
    padding: 25px 102px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.features-title {
    margin-bottom: 10px;
    padding: 0;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* benefits */
.benefits-section {
    padding-top: 0;
    padding-bottom: 94px;
    margin: 0;
}
.benefits-title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.benefits-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.benefits-list-item:not(:last-child) {
    margin-right: 30px;
}

/* team */

.team-section {
    background-color: #F5F4FA;
}
.team-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
        
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.team-list-item:not(:last-child) {
    margin-right: 30px;
}
.team-list-item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-section-title{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-white-color)
}

.team .name {
    margin-bottom: 10px;
    text-align: center;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team .position {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
.team-icon-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;

}

.team-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: var(--primary-white-color)

}
.team-link:hover,
.team-link:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color)
}
.team-icon {
    fill: currentColor;
    
}

/* clients */
.clients-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
}


.clients-link {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
}
.clients-icon {
    fill: currentColor;
}



/* footer */
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    background-color: #2F303A;
}
.footer-container {
    display: flex;
    align-items: center;
    gap: 70px;

}
/* adress */
.footer-logo {
    margin-bottom: 20px;
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    
    text-decoration: none;
}
.logo-footer{
    margin-bottom: 20px;
}

.accents {
    color: var(--primary-white-color);
}
.footer-list {
    padding: 0;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.adress .adressa {
    color: var(--primary-white-color);
    font-style: normal;

    text-decoration: none;
}
.adress .adressa:hover,
.adress .adressa:focus {
    color: var(--accent-color);
}
.adress .mail {
    color: var(--secondary-text-color);
    font-style: normal;

    text-decoration: none;
}
.adress .mail:hover,
.adress .mail:focus {
    color: var(--accent-color);
}
.adress .tel {
    color: var(--secondary-text-color);
    font-style: normal;

    text-decoration: none;
}
.adress .tel:hover,
.adress .tel:focus {
    color: var(--accent-color);
}

.socials-list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.socials-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
}
.socials-icon {
    fill: var(--primary-white-color);
}
.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);
}
.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.socials-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* portfolio */

/* work */
.work-section {
    padding-top: 94px;
    padding-bottom: 114px;
    margin: 0;
}
.work-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
    
}
.work-list-item:not(:last-child){
    margin-right: 8px;
}
.work-btn {
    
    padding: 6px 22px;

    border: 0ch;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
    
.work-btn:hover,
.work-btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}  
.work .variant {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.work-btn:hover,
.work-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* examples */

.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

    margin: 0;
    padding: 0;
}
.examples-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-title-list {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    border: 1px solid #EEEEEE;
}
.examples-title{
    margin-bottom: 4px;
    color: var(--title-text-color);

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.examples-name {
    
    color: var(--primary-text-color);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}


/* колір основного тексту #212121 */
/* вторинний колір #757575 */
/* додатковий колір rgba(255, 255, 255, 0.6) */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
